@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*barra navegacion*/
/*intente con flex pero la estructuara html me inpedia una optima integracion de la barra*/

.navigation{
    background: rgb(8, 8, 8);
    padding: 15px;
    
}
.navigation a{
    float: right;
    text-decoration: none;
    margin-right: 15px;
    padding: 15px;
    color: rgb(228, 232, 235);
    text-indent: center;
}
.navigation img{
   margin-left: 30px;
    width: 60px;
}

/*contenido 1*/
.seaction1{
    padding-top: 50px;
    display: inline-flex;

}
.content1{
    padding: 50px;
}

video{
    margin-right: 20px;
    width: 400px;
    height: 200px;
}

/*contenido 2*/
.seaction2{
    margin: 10px;
    padding-top: 100px;
    display: inline-flex;

}
.img1 img{
    margin: 30px;
width: 300px;
height: 300px;
border-radius: 50%;
margin-left: 200px;
}
.text1 { 
  text-align: right;

    
    padding: 100px 100px 10px 200px;
}

