@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*barra navegacion*/
/*intente con flex pero la estructuara html me inpedia una optima integracion de la barra*/

.navigation::after{
/*affter es unsa pseudo clase que me permite modificar en especifico los componentes*/
    display: table;
    clear: both;
    content: " ";
    text-align: center;
}
.navigation{
    padding: 10px;
    background: rgb(0, 0, 0);
}
logo{
    float: left;

}
a{
    color: rgba(255, 255, 255, 0.966);
    font-family: 'Roboto', sans-serif;
    float: right;
    text-decoration: none;
    margin: 25px;   
}


/*fin barra */
/*inicio contenido*/
.content1{
    padding-top: 50px;
}
section div {
    width: 100%;
    heigtheight: 400px;
}
